{% extends 'dashboard/bases/base.html' %}
{% load static %}

{% block title %} Editar Slide | {% endblock title %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Editar Slide</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="{{ form_action }}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    {% for field in form %}

                                    {% if field.name == 'image' and field.value.url %}
                                        <div class="form-group col-md-12">
                                            <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                            <div class="p-2">
                                                <img id="output" class="img-fluid" src="{{ field.value.url }}" alt="">
                                            </div>
                                            {{ field }}
                                        </div>
                                    
                                    {% elif field.name == 'title_animation_duration_in' or field.name ==  'subtitle_animation_duration_in' or field.name == 'button_animation_duration_in' %}
                                        <div class="form-group col-md-3">
                                            <label for="{{ field.id_for_label}}">{{field.label}}</label>
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        <div class="form-group col-md-12">
                                            <label for="{{ field.id_for_label}}">{{field.label}}</label>
                                            {{ field }}
                                        </div>
                                    {% endif %}

                                    {% endfor %}
                                </div>

                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}