{% extends 'dashboard/bases/base.html' %}
{% load static %}

{% block title %} Gerenciar Slider | {% endblock title %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        {% include 'dashboard/partials/alerts.html' %}
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Gerenciar Slider</h4>
                    <p class="mb-0">Nesta área é possivel gerencia os slides da home</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary btn-sm" href="{% url 'dashboard:addSlide' %}" role="button">Novo</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for item in content %}
                                <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, design">
                                    <div class="portfolio-block">
                                        <a href="{% url 'dashboard:editSlide' item.id %}">
                                            <img class="img-fluid"
                                            src="{{item.image.url}}" 
                                            alt="{{item.title}">
                                        </a>
                                        <div class="caption">
                                            <h5 class="text-center py-2">
                                                <a href="{% url 'dashboard:editSlide' item.id %}">
                                                    {{item.title|safe}}
                                                </a>
                                            </h5>
                                            <div class="text-center">
                                                {% if item.is_published %}
                                                    <p><i class="fa-solid fa-eye"></i> Público</p>
                                                {% else %}
                                                    <p><i class="fa-solid fa-eye-slash"></i> Privado</p>
                                                {% endif %}
                                            </div>
                                            <div class=" d-flex justify-content-around">
                                                <a class="btn btn-primary btn-sm" href="{% url 'dashboard:deleteSlide' item.id %}">Excluir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}