{% extends 'dashboard/bases/base.html' %}
{% load static %}

{% block title %} Adicionar ao portfólio | {% endblock title %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Novo link útil</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="#" method="POST" 
                                enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        {% for field in form %}
                                            <div class="form-group col-md-12">
                                                <label for="{{ field.id_for_label}}">{{field.label}}</label>
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                    </div>
    
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}