{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Redefinir palavra-passe | {% endblock title %}
{% block title_page %}Redefinição da palavra-passe{% endblock title_page %}

{% load i18n %}
{% load account %}


{% block content %}
<section class="about-2 section" id="about">
    <div class="container ">
        <div class="row mgTp">
            <div class="col-md-6 offset-md-3">
                <p>Esqueceu-se da sua palavra-passe? Insira o seu endereço de e-mail abaixo, e enviar-lhe-emos um e-mail permitindo que a redefina.</p>
            </div>

            <form method="POST" action="{% url 'account_reset_password' %}" class="col-md-6 offset-md-3">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary topBtn"> Redefinir a minha palavra-passe</button>
            </form>
            <div class="col-md-6 offset-md-3 my-4">
                <p>Por favor contacte-nos se tiver quaisquer problemas a redefinir a sua palavra-passe.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}