<h3>Comentários</h3>
<ul class="comment-list">
    <!-- comment list -->
    <!--<li class="comment-list-item">
        <div class="comment-list-item-image">
            <img src="images/blog/comment-1.jpg" alt="comment-img">
        </div>
        <div class="comment-list-item-content">
            <h5>Anke Kirsch</h5>
            <h6>Aug 20, 2018</h6>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor
                emque laudant tota rem
                ape riamipsa eaque. </p>
            <a href="#" class="comment-btn">reply</a>
        </div>
    </li>-->
</ul>
<h3>Deixe um comentário</h3>
<!-- Comment Form -->
<form action="#" class="comment-form">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <input type="text" name="first-name" class="form-control" id="first-name" placeholder="Nome" required>
        </div>
        <div class="col-lg-6 col-md-6">
            <input type="email" name="mail" class="form-control" id="mail" placeholder="Email" required>
        </div>
        <div class="col-lg-12 col-md-12">
            <textarea class="form-control" name="msg" id="msg" rows="6" placeholder="Messagem" required></textarea>
        </div>
    </div>
    <button type="submit" value="send" class="btn btn-primary">Enviar Comentário</button>
</form>
</div>
</article>


    