<!-- single pricing table -->
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="pricing-item">

        <!-- plan name & value -->
        <div class="price-title">
            <h3>{% block planName %}{% endblock planName %}</h3>
            <strong class="value">{% block valueService %}{% endblock valueService %}</strong>
            <p>{% block indicated %}{% endblock indicated %}</p>
        </div>
        <!-- /plan name & value -->

        <!-- plan description -->
        <ul>
            <li><i class="tf-ion-ios-arrow-forward"></i> 1GB Disk Space</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 10 Email Account</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Script Installer</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 1 GB Storage</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 2 GB Bandwidth</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 24/7 Tech Support</li>
        </ul>
        <!-- /plan description -->

        <!-- signup button -->
        <a class="btn btn-main" href="#">Solicitar agora</a>
        <!-- /signup button -->

    </div>
</div>
<!-- end single pricing table -->