       
 <section  class="counter-wrapper section-sm" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <h2>Nossos Números</h2>
                    <p>A confiança é que nos move.</p>
                </div>
            </div>
            
              <div class="col-md-4 col-sm-6 col-xs-6 text-center " >
                  <div class="counters-item">
                      <i class="tf-ion-ios-alarm-outline"></i>
                      <div>
                          <span class="counter" data-count="75">0</span>
                      </div>
                      <h3>Clientes satisfeitos</h3>
                  </div>
              </div>
          
              <div class="col-md-4 col-sm-6 col-xs-6 text-center " >
                  <div class="counters-item">
                      <i class="tf-ion-ios-analytics-outline"></i>
                      <div>
                          <span class="counter" data-count="156">0</span>
                      </div>
                      <h3>Projetos completos</h3>
                  </div>
              </div>
              
              <!--<div class="col-md-3 col-sm-6 col-xs-6 text-center "  >
                  <div class="counters-item">
                      <i class="tf-ion-ios-compose-outline"></i>
                      <div>
                          <span class="counter" data-count="199">0</span>
                      </div>
                      <h3>Feedback positivo </h3>
                      
                  </div>
              </div>-->
              
              <div class="col-md-4 col-sm-6 col-xs-6 text-center ">
                  <div class="counters-item kill-border">
                      <i class="tf-ion-ios-bolt-outline"></i>
                      <div>
                          <span class="counter" data-count="150">0</span>
                      </div>
                      <h3>Copos de café</h3>
                  </div>
              </div>
            
        </div> 		
    </div>   	
</section> 