{% load static %}

<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <h3>Sobre</h3>
                    <p class="p-0">A GAUEN, com sede no Porto, é uma empresa especializada em projetos de arquitetura, engenharia e tecnologia</p>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <ul>
                        <li>
                            <h3>Nossos serviços</h3>
                        </li>
                        <li><a href="{% url 'gauenPublic:services' %}">Arquitetura</a></li>
                        <li><a href="{% url 'gauenPublic:services' %}">Modelação BIM</a></li>
                        <li><a href="{% url 'gauenPublic:services' %}">Engenharia</a></li>
                        <li><a href="{% url 'gauenPublic:services' %}">Segurança contra Incêndio</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <!--<div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li>
                            <h3>Links rápidos</h3>
                        </li>
                        <li><a href="{% url 'gauenPublic:simulator' %}">Simulador</a></li>
                        <li><a href="{% url 'gauenPublic:about' %}">Quem Somos</a></li>
                        <li><a href="{% url 'gauenPublic:portifolio' %}">Portfólio</a></li>
                    </ul>
                </div>-->
                <!-- End of .col-sm-3 -->

                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <!--<ul>
                        <li>
                            <h3>Contactos</h3>
                        </li>
                        <li> Segunda-feira / Sexta-feira 9:00 - 18:00 </li>
                        <li> +351 967 614 686</li>
                        <li> +351 938 359 076</li>
                        <li> <a href="">geral@gauen.pt</a> </li>
                        <li><a href="https://www.facebook.com/gauen.eng" target="_blank">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/in/gauen-engenharia-18a681230/" target="_blank">LinkedIn</a></li>
                    </ul>-->
                    <div class="text-center">
                        <h3>Contactos</h3>
                        <div class="text-center">
                            <p class="p-0 m-0"><i class="bi bi-envelope fa-2x"></i></p>
                            <p class="p-0 m-1">geral@gauen.pt</p>
                            <p class="p-0 m-0"><i class="bi bi-telephone fa-2x"></i></i></p>
                            <p class="p-0 m-0">+351 967 614 686</p>
                        </div>
                    </div>
                    
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright 2022. All rights reserved.</h5>
        <h6>Template <a href="">Themefisher</a> | Developed by <a href="">Renan Marques</a></h6>
    </div>
</footer> <!-- end footer -->