<!-- Start Team Skills
		=========================================== -->

        <section class="team-skills section-sm" id="skills">
            <div class="container">
                <div class="row">
        
                    <!-- section title -->
                    <div class="col-12">
                        <div class="title text-center">
                            <h2>Our Skills</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat, vel veniam, eos et
                                delectus eveniet molestiae. Esse, voluptas ratione.</p>
                            <div class="border"></div>
                        </div>
                    </div>
                    <!-- /section title -->
        
                    <div class="col-md-5">
                        <div class="team-skills-content">
                            <h2>Simple To Start</h2>
                            <p>Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in
                                faucibus lorem accumsan non. Donec mattis tin unt metuorbi sed tort Igor aman luctus dignissim.
                                Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in
                                faucibus lorem accumsan non.</p>
                            <a href="{% url 'gauenPublic:contact' %}" class="btn btn-main mt-20">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="progress-block">
                            <ul>
                                <li>
                                    <span>Photoshop</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 90%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span>Web Application</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 85%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span>Andriod Application</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 92%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span>IOS Development</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 78%;">
                                        </div>
                                    </div>
                                </li>
                            </ul>
        
                        </div>
                    </div>
                </div> <!-- End row -->
            </div> <!-- End container -->
        </section> <!-- End section -->