{% extends 'gauenPublic/bases/basePublic.html' %}

{% block title %} Nossos Serviços | {% endblock title %}
{% block title_page %}Nossos Serviços {% endblock title_page %}

{% block content %}
<section class="services" id="services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="title text-center">
                    <h2>Nossos Serviços</h2>
                    <p>Confira as áreas de que atuamos</p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-copy-outline"></i>
                    </div>
                    <h3>BIM</h3>
                    <p>Projetos de arquitetura e engenharias Coordenação de projetos e obra Gestão de obra Gestão de ativos. <br>Implementação da metodologia BIM em entidades externas.
                        </p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-home-outline"></i>
                    </div>
                    <h3>Gabinete de Engenharia</h3>
                    <p>Projetos de Engenharia, Instrução de Requerimentos em Câmaras Municipais, Construção e Reabilitação.
                        </p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-flame-outline"></i>
                    </div>
                    <h3>Segurança Contra <br> Incêndio</h3>
                    <p>Projetos SCIE, Medidas de Autoproteção, Planos de Emergência, Formação e Simulacro Instrução de Requerimento junto à ANEPC.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-map"></i>
                    </div>
                    <h3>Arquitetura</h3>
                    <p>Conceptualização da Arquitetura, Instrução de Requerimentos em Câmaras Municipais, Visitas Virtuais.
                        </p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 color-bg text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-code"></i>
                    </div>
                    <h3>Tecnologia</h3>
                    <p>Desenvolvimento de soluções tecnológicas associados à engenharia.</p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-social-euro-outline"></i>
                    </div>
                    <h3>Investimentos</h3>
                    <p>Investimentos imobiliários, Estudos prévios, Viabilidade de licenciamento e Investimento
                        </p>
                </div>
            </div>
            <!-- End Single Service Item -->

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->







{% endblock content %}